<footer>
  <div class="footer__wrapper">
    <div class="footer-text1">
      餐館地址: 天上地下天堂路三分之一里六段520號<br>
      訂位專線：02-1314-5566<br>
      營業時間：週一〜週五 09:00~18:00 / 週六、週日、國定假日（含連假）休息<br>
      email：service@justabite.com.tw<br>
    </div>
  
    <div class="footer-text2">
      <div class="footer-text2-1">
        Just A Bite!
      </div>
      <div class="footer-text2-2">
        Facebook / Instagram / Youtube
      </div>
    </div>
  </div>
  
  <div class="copyright__wrapper">
    <div class="copyright-text">
      Copyright © 2020 Just A Bite All Rights Reserved. 咬一口股份有限公司版權所有
    </div>
  </div>
</footer>
